@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/GraphikLCWeb-Regular.woff2') format('woff2');
  font-family: 'GraphikLCWeb';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/GraphikLCWeb-Semibold.woff2') format('woff2');
  font-family: 'GraphikLCWeb';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/GraphikLCWeb-Bold.woff2') format('woff2');
  font-family: 'GraphikLCWeb';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/Inter.woff2') format('woff2');
  font-family: 'Inter';
  font-display: swap;
}
