html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-black-06);
  font-family: var(--font-family-base);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: fluid(40, 22);
  line-height: 1.2;
}

h2,
.h2 {
  font-weight: 600;
  font-size: fluid(32, 20);
  line-height: 1.25;
}

h3,
.h3 {
  color: var(--color-black);
  font-weight: 600;
  font-size: 18px;
}
