@use '@/styles/helpers' as *;

.container {
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
}

.visually-hidden {
  @include visually-hidden;
}


